<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>
<div id="layoutSidenav">
	<%- include('includes/menu.ejs') %>
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid">
				<h1 class="mt-4">ยินดีต้อนรับ</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active">ยินดีต้อนรับ</li>
				</ol>
			</div>
		</main>
		<%- include('includes/nav-footer.ejs') %> 
	</div>
</div>
<%- include('includes/footer.ejs') %> 