<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
<div id="layoutSidenav">
	<%- include('../includes/menu.ejs') %>
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid">
				<h1 class="mt-4"></h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active">สร้างหลักสูตรใหม่</li>
				</ol>
				<div class="row">
					<div class="col-md-12">
					<form action="/add-classroom" method="POST">
						<div class="form-group">
							<label class="small mb-1" for="title">ชื่อรายวิชา</label>
							<input 
							type="text" 
							id="title"
							name="title" 
							class="form-control py-4 <% if (errFields.errTitle) { %>is-invalid<% } %>"  
							required="required" 
							value="<%= oldInput.title %>"
							placeholder="ระบุชื่อรายวิชา">
							<div class="invalid-feedback" ><%= errFields.errTitle %></div>
						</div>
						<div class="form-group">
							<label class="small mb-1" for="description">รายละเอียด</label>
							<input 
							type="text" 
							id="description"
							name="description" 
							class="form-control py-4 <% if (errFields.errDesc) { %>is-invalid<% } %>"  
							required="required" 
							value="<%= oldInput.description %>"
							placeholder="ระบุรายละเอียดรายวิชา">
							<div class="invalid-feedback" ><%= errFields.errDesc %></div>
						</div>
					
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<input type="submit" class="form-group mt-4 mb-0 btn btn-primary btn-block" value="บันทึก">
					</form>
				</div>
			</div>
			</div>	
		</main>
	</div>
</div>
<%- include('../includes/footer.ejs') %>