<%- include('../includes/header.ejs') %> <%- include('../includes/nav.ejs') %>
<style>
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }

  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
  }

  .column img:hover {
    opacity: 1;
  }

  /* Clear floats after the columns */
  .row:after {
    content: '';
    display: table;
    clear: both;
  }

  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }

  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
</style>
<div id="layoutSidenav">
  <%- include('../includes/menu.ejs') %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">
          <%= pageTitle %>
        </h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">
            <%= pageTitle %>
          </li>
        </ol>
        <% if(errMessage) { %> <%= errMessage %> <% } %>
        <div class="card-body ">
          <div class="table-responsive">
            <h2>รายละเอียด</h2>
            <table
              class="table table-bordered"
              id="dataClass"
              width="100%"
              cellspacing="0"
            >
              <tbody>
                <tr>
                  <td>ชื่อรายวิชา</td>
                  <td>
                    <%= classroom.title %>
                  </td>
                </tr>
                <tr>
                  <td>คำอธิบายรายวิชา</td>
                  <td>
                    <%= classroom.description %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <h2>ประวัติการเข้าร่วม</h2>
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>วันที่ตรวจสอบ</th>
                  <th>วันเวลาการเข้าร่วมจริง</th>
                </tr>
              </thead>
              <tbody>
                <% if (attendances.length > 0) { %> <% for(let attendance of
                attendances) { %>
                <tr>
                  <td>
                    <%= moment(attendance.attendanceDate).format('YYYY-MM-DD');
                    %>
                  </td>
                  <td>
                    <%= moment(attendance.attendanceDate).format('YYYY-MM-DD HH:MM:SS');
                    %>
                  </td>
                </tr>

                <% } %> <%} else { %>
                <tr>
                  <td colspan="2">No Attendance History</td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <h2>ผลการเข้าร่วมประจำวัน</h2>
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>ภาพถ่าย</th>
                </tr>
              </thead>
              <tbody>
                <% if (imgclasslist.length > 0) { %>
                <tr>
                  <td>
                    <div class="container">
                      <div class="row">
                        <% for(let img of imgclasslist) { %>
                        <div class="column">
                          <img
                            src="../<%= classroom.id %>/<%= today2 %>/<%= img %>"
                            alt="Nature"
                            onclick="myFunction(this);"
                          />
                        </div>
                        <% } %>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <!-- The expanding image container -->
                    <div class="container">
                      <!-- Close the image -->
                      <span
                        onclick="this.parentElement.style.display='none'"
                        class="closebtn"
                        >&times;</span
                      >

                      <!-- Expanded image -->
                      <img id="expandedImg" style="width:100%" />

                      <!-- Image text -->
                      <div id="imgtext"></div>
                    </div>
                  </td>
                </tr>
                <%} else { %>
                <tr>
                  <td>ไม่พบประวัติการเข้าร่วม</td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>

        <% if ( !todaycheck ) { %>
        <div class="card-body ">
          <div class="table-responsive">
            <h2>ส่งคำขออนุมัติในการเข้าร่วมรายวิชาประจำวัน </h2>
            <table
              class="table table-bordered"
              id="dataClass"
              width="100%"
              cellspacing="0"
            >
              <tbody>
                <tr>
                  <td>วันที่ปัจจุบัน</td>
                  <td>
                    <%= moment().format('YYYY-MM-DD'); %>
                  </td>
                </tr>
                <tr>
                  <td>การเข้าร่วม</td>
                  <td>
                    <div class="container">
                      <div class="row">
                        <% for(let img of imglist) { %>
                        <div class="col-sm-6">
                          <img
                            id="inputImg"
                            src="../<%= classroom.id %>/<%= today %>/<%= img %>"
                            alt="<%= img %>"
                            width="100%"
                          />
                        </div>
                        <% } %>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>แนบภาพสำหรับส่งคำขออนุมัติ</td>
                  <td>
                    <form
                      class="mt-4"
                      method="POST"
                      action="/upload-request-attend/<%= classroom.id %>/<%= user.userId %>"
                      enctype="multipart/form-data"
                    >
                      <div class="form-group">
                        <input type="file" name="profile_pic" />
                        <input
                          type="hidden"
                          name="classroomId"
                          value="<%= classroom.id %>"
                        />
                        <input
                          type="hidden"
                          name="userId"
                          value="<%= user.userId %>"
                        />
                      </div>
                      <input
                        type="submit"
                        name="btn_upload_profile_pic"
                        value="ส่งคำขออนุมัติ"
                      />
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <% } %>
      </div>
    </main>
    <script src="../face-api.js"></script>
    <!-- <script src="../js/commons.js"></script> -->
    <script src="../js/faceDetectionControls.js"></script>
    <script src="../js/imageSelectionControls.js"></script>
    <!-- <script src="../js/bbt.js"></script> -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <script type="text/javascript">
      function myFunction (imgs) {
        // Get the expanded image
        var expandImg = document.getElementById('expandedImg')
        // Get the image text
        var imgText = document.getElementById('imgtext')
        // Use the same src in the expanded image as the image being clicked on from the grid
        expandImg.src = imgs.src
        // Use the value of the alt attribute of the clickable image as text inside the expanded image
        imgText.innerHTML = imgs.alt
        // Show the container element (hidden with CSS)
        expandImg.parentElement.style.display = 'block'
      }
    </script>
    <%- include('../includes/nav-footer.ejs') %>
  </div>
</div>
<%- include('../includes/footer.ejs') %>
