<%- include('../includes/header.ejs') %>
    <%- include('../includes/nav.ejs') %>
        <div id="layoutSidenav">
            <%- include('../includes/menu.ejs') %>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid">
                            <h1 class="mt-4">
                                <%= pageTitle %>
                            </h1>
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                <%= pageTitle %>
                            </div>

                            <% if(errMessage) { %>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <%= errMessage %>
                                    </div>
                                </div>
                                <% } %>
                                    <div class="row justify-content-end">
                                        <div class="col-xl-3 col-md-6">
                                            <div class="card bg-success text-white mb-4">
                                                <div
                                                    class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="/add-classroom">
                                                        เพิ่มรายวิชา </a>
                                                    <div class="small text-white"><i class="far fa-plus-square"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-xl-12 col-md-12">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered" id="dataTable" width="100%"
                                                        cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>ชื่อรายวิชา</th>
                                                                <th>รายละเอียด</th>
                                                                <th>การเข้าร่วม</th>
                                                                <th>#</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if (classrooms.length> 0) { %>
                                                                <% for(let classroom of classrooms) { %>
                                                                    <tr>
                                                                        <td>
                                                                            <%= classroom.title %>
                                                                        </td>
                                                                        <td>
                                                                            <%= classroom.description %>
                                                                        </td>
                                                                        <td><a class=""
                                                                                href="/my-classrooms/<%= classroom.id %>">View
                                                                                Attendance</a></td>
                                                                        <td><a class="deleteClass" href="#"><i
                                                                                    class="fas fa-trash <%= isLogin ? 'd-block' : 'd-none' %>"></i></a>

                                                                            <i class="fas fa-trash <%= isLogin ? 'd-block' : 'd-none' %>"
                                                                                onclick="deleteClass(this)"></i>
                                                                        </td>
                                                                    </tr>
                                                                    <% } %>
                                                                        <%} else { %>
                                                                            <tr>
                                                                                <td colspan="4">ลำดับ
                                                                                    รายวิชา</td>
                                                                            </tr>
                                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </main>
                    <%- include('../includes/nav-footer.ejs') %>
                </div>
        </div>
        <%- include('../includes/footer.ejs') %>