<%- include('../includes/header.ejs') %> <%- include('../includes/nav.ejs') %>
<div id="layoutSidenav">
  <%- include('../includes/menu.ejs') %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">
        </h1>
        <div class="card-header">
          <i class="fas fa-table mr-1"></i>
          นโยบายความปลอดภัย
        </div>
        <br />
        <div class="row">
          <div class="col-xl-12 col-md-12">
            <div class="content-md ">
                <div class="row">
                    <div class="col-sm-12 sm-margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h3>นโยบายความเป็นส่วนตัว (Privacy Policy)</h3>
                            <p> CLASS ATTENDANCE CHECKING ให้ความสำคัญกับการคุ้มครองข้อมูลส่วนบุคคลการล่วงละเมิดสิทธิในข้อมูลส่วนบุคคลการควบคุมการใช้ข้อมูล
                              และการป้องกันการรั่วไหลของข้อมูลส่วนบุคคลจึงได้จัดทำนโยบายคุ้มครองข้อมูลส่วนบุคคลตามกฎหมายคุ้มครองข้อมูลส่วนบุคคลขึ้นเพื่อให้เป็นผู้ควบคุม
                              ข้อมูลส่วนบุคคลและผู้ประมวลผลตามกฎหมาย มีหน้าที่ และความรับผิดชอบตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562</p>
                              <p>การเปิดเผยข้อมูลจะเกิดขึ้นก็ต่อเมื่อคุณเป็นผู้ร้องขอและให้ความยินยอมให้เราดำเนินการให้ หรือ 
                                การเปิดเผยข้อมูลนั้นเป็นไปตามที่กฎหมายอนุญาต หรือเป็นไปตามที่กฎหมายกำหนด  
                                เราจะไม่ใช้ข้อมูลส่วนตัวของคุณเพื่อวัตถุประสงค์ใดนอกจากให้บริการหรือเท่าที่กฎหมายกำหนด 
                                เราเคารพและคำนึงถึงความเป็นส่วนตัวของลูกค้าของเราอย่างสูงสุด 
                                สิ่งที่สำคัญที่สุดคือความสัมพันธ์ระหว่างคุณและเรา 
                                เราต้องการให้คุณสบายใจและมั่นใจใช้ผลิตภัณฑ์และบริการของเราและเชื่อถือความปลอดภัยของข้อมูลส่วนตัวและแบบแสดงรายการที่คุณกรอกไว้ให้เรา
                               </p>
                        </div>
                    </div>
                    
                </div>
                <!--// end row -->
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('../includes/nav-footer.ejs') %>
  </div>
</div>
<%- include('../includes/footer.ejs') %>
